body {
    body {
    background: linear-gradient(135deg, #ffffff, #f3f3f3);
    margin: 20px;
}
  
}

.hero{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    padding: 5px;
    height: 100vh;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(110, 110, 110, 0.5);
}

h1 {
    font-family: 'ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    color: #555;
    font-family: 'ubuntu', sans-serif;
    max-width: 500px;
}

.btn {
    background: linear-gradient(135deg, #a70808, #6b0101);
    color: white;
    box-shadow: 0px 0px 8px 0px rgb(110, 110, 110);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: none;
    transition: 0.8s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 60px rgba(167, 8, 8, 0.4)
}

